doctype 5
html
  head
    title BBCloneMail: A Backbone.Marionette Reference Application
    //- link(href="/css/bbclonemail.css", rel="stylesheet", type"=text/css")

    link(href='/css/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/css/custom.css', rel='stylesheet', media='screen')
    link(href='/css/plugins/toastr/css/toastr.min.css', rel='stylesheet', media='screen')
    link(href='/css/plugins/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet')

    include templates/email-preview-template
    include templates/email-view-template
    include templates/mail-categories-view-template
    include templates/contact-categories-view-template
    include templates/contact-item-template
    include templates/app-selector-template
    include templates/log-levels-tab-template
    include templates/node-item-template
    include templates/node-nav-template
    include templates/host-content2-empty-template
    include templates/breadcrumbs-template
    include templates/loading-template

  body
    //- section.header
    //-   .container
    //-     header
    //-       h1 BBCloneMail
    //-       p.tag-line
    //-         | A 
    //-         a(href="http://marionettejs.com") Marionette.js 
    //-         | Reference Application
    //-     header.help
    //-       | This application demonstrates the use of 
    //-       a(href="http://marionettejs.com") Marionette.js 
    //-       | plugin for BackboneJS. To see it in action, change the selected app 
    //-       | in the drop list to the left. Be sure to check out 
    //-       a(href="http://github.com/marionettejs/bbclonemail") the source code 
    //-       | to see how it works.


    #virshmanagerapp
      // Header 
      header
        .navbar.navbar-fixed-top.navbar-inverse
          .navbar-inner
            .container
              a.brand(href='#') VirtManager
              p.navbar-text.pull-left
                small A Libvirt Cluster Web Console
              
              // Username View 
              #logout

    #main.container
      .row
        .span2
          #navigation.well.sidebar-nav          
              
        .span10
          //- #heading
          #content-one
          .row
            .span10
              //- #description-area
              #content-two
              //- #content-area.well
              #content-three.well
              #content-four
            #pagination.pagination.pagination-right

    //- section.content
    //-   .container
    //-     navigation
    //-       section#app-selector

    //-     article#main-nav
    //-     article#main
    //-       #loading
    //-         block content
    //-     article#main-footer


    // Footer 
    footer
      .row-fluid
        .span12
          footer
            hr
            p.muted
              | Designed and Maintained by 
              abbr(title='Centre for the Development of Open Technology @ Seneca College') CDOT
              |  | Built on {Backbone.js Bootstrap.js Node.js}

    //- section.footer
    //-   .container
    //-     footer
    //-       ul
    //-         li
    //-           | Copyright &copy;2013 
    //-           a(href="http://mutedsolutions.com") Muted Solutions, LLC. 
    //-           | All rights reserved. 
    //-       ul
    //-         li
    //-           | BBCloneMail is a reference app for building awesomeness with 
    //-           a(href="http://backbonejs.org") Backbone.js 
    //-           | and 
    //-           a(href="http://marionettejs.com") Marionette.js
    //-       ul
    //-         li.title BBCloneMail Source:
    //-         li
    //-           a(href="http://github.com/marionettejs/bbclonemail") The Github Project
    //-         li
    //-           a(href="http://marionettejs.github.com/bbclonemail/docs/bbclonemail.html") The Annoted Code
    //-       ul
    //-         li.title
    //-            | Find me Twitter:
    //-         li
    //-           a(href="http://twitter.com/marionettejs") @marionettejs
    //-         li
    //-           a(href="http://twitter.com/derickbailey") @derickbailey
    //-         li
    //-           a(href="http://twitter.com/backbonejsclass") @backbonejsclass
    //-         li
    //-           a(href="http://twitter.com/mutedsolutions") @mutedsolutions
    //-       ul
    //-         li.title
    //-            | Find me on the web:
    //-         li
    //-           a(href="http://marionettejs.com") MarionetteJS.com
    //-         li
    //-           a(href="http://backbonetraining.net") BackboneTraining.net
    //-         li
    //-           a(href="http://watchmecode.net") WatchMeCode.net
    //-         li
    //-           a(href="http://derickbailey.lostechies.com") DerickBailey.lostechies.com
    //-         li
    //-           a(href="http://mutedsolutions.com") MutedSolutions.com

    include scripts

    script
      $(function(){
        console.log("starting BBCloneMail");
        BBCloneMail.start();
      });
