
html {
    margin: 0;
    padding: 0;
    /*border: 0;*/
}





.container {
    width: 790px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
    border: 1px solid black;
}



.wrap-log {
  border: 1px dotted black;
  width: 200px;
  height: 200px;
}

section.content article ul.email-list, section.content article ul.contact-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

section.content article ul.email-list li, section.content article ul.contact-list li {
    padding: 2px 5px;
}

section.content article ul.contact-list li {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 180px;
}



navigation {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 150px;
    border: 1px solid red;
}
* html navigation {
    overflow-x: hidden;
}
navigation section {
    padding: 2px;
    padding-bottom: 1800px;
}

article {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 610px;
}
* html article {
    overflow-x: hidden;
}


article#main-nav {
  border: 1px solid green;
  margin: 5px;
  padding-top: 5px;
}

article#main {
  border: 1px solid blue;
  margin: 5px;
}

article#main-footer {
  border: 1px solid red;
  margin: 5px;
}

/* Logs */
.log-tabs ul {
  width: 100%;
  overflow: hidden;;
}



.log-tabs ul li {
  float: left;
  list-style: none;
}




