// script#app-selector-template(type = "text/html")
//   option(value="mail") Mail
//   option(value="contacts") Contacts


script#app-selector-template(type = "text/html")
  p Menu options
    ul
      li
        a.menu-options(data-category = "mail", href = "#mail") Mail
      li
        a.menu-options(data-category = "nodes", href = "#nodes") Manage Nodes
      li
        a.menu-options(data-category = "contacts", href = "#contacts") Logs
