script#email-preview-template(type = "text/template")
  li
    a(href != "#mail/inbox/<%= ip %>") List Instances
    div
      |IP
      b <%= ip %>
    div
      |Hypervisor
      b <%= hypervisor %>
    div
      |Load
      b <%= load %>
    div
      |MemFree
      b <%= memFree %>
    div
      |MemUsed
      b <%= memUsed %>
